body{
    margin: 0px;
    padding: 0px;
}

.navbar{
    position: sticky;
    top: 10px;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#photoResume{
    height: 200px;
}